<nav>
    <a routerLink="auth/signin" routerLinkActive="active">signin</a>
    <a routerLink="auth/register" routerLinkActive="active">register</a>
    <a routerLink="dashboard/accountsummary" routerLinkActive="active">accountsummary</a>
    <a routerLink="dashboard/accountdetails" routerLinkActive="active">accountdetails</a>
    <a routerLink="customerservice/ordercheck" routerLinkActive="active">ordercheck</a>
    <a routerLink="customerservice/orderstatement" routerLinkActive="active">orderstatement</a>
</nav>

<router-outlet></router-outlet>